# Ignore all node_modules directories
**/node_modules/

# Ignore all build folders
**/dist/

# Ignore all environment variable files
**/.env
ai-layer/whisperX/venv/
venv/

# Optional: common extras for safety
*.log
.DS_Store
.vscode/

/venv/

ai-layer/agents/__pycache__/
.env.docker
